importFrom(igraph, "clusters", "plot.igraph", "edge_attr", "layout.fruchterman.reingold", "layout.kamada.kawai", "layout.grid")
importFrom(graphics, "axis", "layout", "legend", "mtext", "par", "title")
importFrom(methods, "hasArg")
importFrom(stats, "as.dist", "cutree", "lm", "loess", "loess.control", "quantile", "residuals", "sd")
importFrom(UpSetR, "upset", "fromList")
importFrom(ggplot2, "ggplot", "aes", "geom_line", "geom_point", "theme_classic", "theme", "theme_bw", "scale_colour_manual", "geom_vline", "geom_hline", "labs", "xlim", "element_blank", "element_text")
importFrom(ggrepel, "geom_text_repel")
importFrom(tidyr, "spread", "gather")
importFrom(reshape, "cast")
importFrom(Matrix, "Matrix", "t", "crossprod", "colMeans", "colSums", "Diagonal")
importFrom(fastcluster, hclust)
importFrom(matrixStats, rowMeans2, rowSums2)
importFrom("stats", "na.omit")
import(dplyr)

export(cell_fate_DEG_calling)
export(cell_type_composition_plot)
export(cluster_stability_plot)
export(DEG_volcano_plot)
export(extract_cell_fate_lineages)
export(memory_gene_calling)
export(predict_lineages)
export(predict_lineages_multiple_sizes)
export(predict_lineages_with_known_markers)
export(prediction_to_lineage_information)
export(quantify_clusters_iterative)
export(suggest_network_trimming_to_size)
export(test_lineages)
export(trim_network_to_size)
export(visualize_as_network)
exportMethods(addBarcodes, addPrediction, addTestingResults)
export(GEMLI)
